.contact_page {
  padding-top: 150px;
  .form {
    .left {
      position: relative;
      height: auto;
    }
    .right {
      background-color: #f8f8f4;
      padding: 65px 50px 95px;
    }
  }
}
