.header {
  background-color: rgba(11, 43, 32, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  &_content {
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    position: relative;
    width: 94px;
    height: 84px;
  }
  .menu_list {
    align-items: center;
    .link,
    span {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;
      &:hover {
        color: rgba(248, 171, 12, 1);
      }
    }
    .link {
      &:not(:last-child) {
        padding-right: 50px;
      }
    }
    .dropdown {
      position: relative;
      i {
        margin-left: 12px;
      }
      &_menu {
        position: absolute;
        padding-top: 20px !important;
        top: 100%;
        left: 0;
        width: 100%;
        // perspective: 1000px;
        z-index: 1;
        li {
          display: none;
          color: white;
          background-color: #34495e;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: 400;
          text-transform: none !important;
          cursor: pointer;
          opacity: 1;
          &:hover {
            background-color: #2980b9;
          }
        }
      }
      &:hover .dropdown_menu li {
        display: block !important;
      }
      &_menu {
        @for $num from 1 through 5 {
          .dropdown_item_#{$num} {
            transform-origin: top center;
            animation: slideDown 300ms ($num * 60ms) ease-in-out forwards;
          }
        }
      }
      @keyframes slideDown {
        0% {
          opacity: 0;
          transform: translateY(-60px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
