.proshop_page {
  padding-top: 100px;
  margin-bottom: 65px;
  .bannerv2 {
    height: 480px;
    position: relative;
    margin-top: 88px;
    img {
      object-fit: cover;
    }
    &_content {
      // .container.h-100 {
      //   position: relative;
      // }
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      span {
        font-size: 19px;
        font-weight: 700;
        line-height: 1.3;
        color: #c7c7c7;
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
      }
      h1 {
        font-size: 56px;
        text-align: center;
        @media screen and (max-width: 992px) {
          font-size: 45px;
        }
        @media screen and (max-width: 576px) {
          font-size: 36px;
        }
        line-height: 1.3;
        font-weight: 700;
        color: #fff;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        @media screen and (max-width: 576px) {
          font-size: 16px;
        }
        line-height: 1.3;
        text-align: center;
        color: #fff;
      }
      button {
        background: #00b577;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        padding: 8px 40px;
        margin-bottom: 120px;
        border: 2px solid #00b577;
        transition: all 0.3s linear;
        &:hover {
          background: transparent;
        }
      }
    }
  }
  .left {
    padding-right: 33px;
    @media screen and (max-width: 1080px) {
      padding-right: 20px;
    }
    @media screen and (max-width: 992px) {
      padding-right: 0px;
    }
  }
  .right {
    padding-left: 33px;
    @media screen and (max-width: 1080px) {
      padding-left: 20px;
    }
    @media screen and (max-width: 992px) {
      padding-left: 0px;
      margin-top: 40px;
    }
  }
  .content {
    margin-top: 100px;
    .header {
      span {
        font-size: 17px;
        font-weight: 400;
        line-height: 1.3;
        color: #6e6d68;
        @media screen and (max-width: 576px) {
          font-size: 15px;
          margin-bottom: 10px;
        }
      }
    }
    .product {
      .item {
        .image {
          position: relative;
          z-index: -1 !important;
        }
        // img {
        //   cursor: pointer;
        //   position: relative;
        //   z-index: 0 !important;
        // }
        margin-top: 30px;
        &:nth-child(odd) {
          padding-right: 15px;
          @media screen and (max-width: 567px) {
            padding-right: 0px;
          }
        }
        &:nth-child(even) {
          padding-left: 15px;
          @media screen and (max-width: 567px) {
            padding-left: 0px;
          }
        }
        &:not(:first-child) {
          padding-left: 15px;
          @media screen and (max-width: 567px) {
            padding-top: 30px;
          }
        }
        .info {
          h5 {
            font-size: 25px;
            @media screen and (max-width: 992px) {
              font-size: 22px;
            }
            text-align: center;
            font-weight: 700;
            line-height: 1.4;
            padding-right: 15px;
            padding-left: 15px;
            color: #000;
            cursor: pointer;
            &:hover {
              color: #00b577;
            }
          }
          p {
            font-size: 20px;
            @media screen and (max-width: 992px) {
              font-size: 18px;
            }
            font-weight: 700;
            text-align: center;
            line-height: 1.3;
            margin-top: 15px;
            color: #b8b8b8;
            padding-right: 15px;
            padding-left: 15px;
          }
          .rate {
            margin-top: 25px;
            padding-right: 15px;
            padding-left: 15px;
            i {
              font-size: 22px;
              @media screen and (max-width: 992px) {
                font-size: 20px;
              }
              color: #fabf26;
              margin-left: 6px;
              margin-right: 6px;
            }
          }
        }
      }
    }
    .tabs {
      background: #f8f8f4;
      padding: 60px 35px;
      .top {
        div:first-child {
          h5 {
            margin-bottom: 25px;
          }
        }
        div:not(:first-child) {
          h5 {
            margin-top: 25px;
            margin-bottom: 10px;
            @media screen and (max-width: 992px) and (min-width: 768px) {
              margin-top: 0px;
            }
          }
        }
      }
      .center {
        margin-top: 40px;
        div:first-child {
          h5 {
            margin-bottom: 20px;
          }
        }
        div:not(:first-child) {
          h5 {
            margin-top: 20px;
            margin-bottom: 25px;
            @media screen and (max-width: 992px) and (min-width: 768px) {
              margin-top: 0px;
            }
          }
          button {
            margin-top: 0px !important;
            margin-left: 0px;
          }
        }
      }
      .bottom {
        margin-top: 45px;
      }
      h5 {
        font-weight: 700;
        font-size: 18px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
        color: #000;
        line-height: 1.3;
      }
      span {
        font-weight: 400;
        font-size: 18px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
        line-height: 1.3;
        color: #8e8e8e;
      }
      ul {
        list-style: disc;
        padding-left: 18px !important;
        li {
          cursor: pointer;
          font-weight: 400;
          margin-top: 10px;
          font-size: 17px;
          @media screen and (max-width: 768px) {
            font-size: 15px;
          }
          line-height: 1.3;
          border-bottom: 2px solid transparent;
          width: fit-content;
          transition: 0.5s linear;
          &:hover {
            border-bottom: 2px solid #000;
          }
        }
      }
      button {
        margin-top: 22px;
      }
      .tag {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
        margin-top: 20px;
        button {
          border: 1px solid #8e8e8e;
          background: transparent;
          margin-top: 0;
          padding: 8px 0px;
          color: #8e8e8e;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.3;
          &:hover {
            border: 1px solid #00b577;
            color: #00b577;
          }
        }
      }
    }
  }
}
