.proshop_page {
  padding-top: 140px;
  margin-bottom: 40px;
  .bannerv2 {
    height: 480px;
    position: relative;
    margin-top: 30px;
    img {
      object-fit: cover;
    }
    &_content {
      // .container.h-100 {
      //   position: relative;
      // }
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      span {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.3;
        color: #c7c7c7;
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
      }
      h1 {
        font-size: 45px;
        text-align: center;
        @media screen and (max-width: 992px) {
          font-size: 36px;
        }
        line-height: 1.3;
        font-weight: 700;
        color: #fff;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        text-align: center;
        color: #fff;
      }
      button {
        background: #576e33;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        padding: 8px 40px;
        margin-bottom: 120px;
        border: 2px solid #576e33;
        transition: all 0.3s linear;
        &:hover {
          background: transparent;
        }
      }
    }
  }
  .left {
    padding-right: 30px;
    @media screen and (max-width: 1080px) {
      padding-right: 10px;
    }
    @media screen and (max-width: 992px) {
      padding-right: 0px;
    }
  }
  .right {
    padding-left: 30px;
    @media screen and (max-width: 1080px) {
      padding-left: 10px;
    }
    @media screen and (max-width: 992px) {
      padding-left: 0px;
      margin-top: 40px;
    }
  }
  .content {
    margin-top: 40px;
    .hiddenFilter {
      font-size: 18px;
      font-weight: 500;
      color: #000 !important;
      margin-right: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: #576e33 !important;
      }
      i {
        margin-left: 10px;
      }
    }
    .header {
      span {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        color: #6e6d68;
        @media screen and (max-width: 576px) {
          margin-bottom: 10px;
        }
      }
    }
    .product {
      .item {
        cursor: pointer;
        .image {
          position: relative;
          // z-index: -1 !important;
        }
        .tool_img {
          margin-left: 10px;
          background: #8e8e8e;
          border: 1px solid #8e8e8e;
          position: relative;
          width: 50px;
          height: 50px;
        }
        // img {
        //   cursor: pointer;
        //   position: relative;
        //   z-index: 0 !important;
        // }
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        &:nth-child(odd) {
          // padding-right: 10px;
          @media screen and (max-width: 567px) {
            padding-right: 0px;
          }
        }
        &:nth-child(even) {
          // padding-left: 10px;
          @media screen and (max-width: 567px) {
            padding-left: 0px;
          }
        }
        &:not(:first-child) {
          // padding-left: 10px;
          @media screen and (max-width: 567px) {
            padding-top: 20px;
          }
        }
        .info {
          h5 {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;
            padding-right: 15px;
            padding-left: 15px;
            color: #000;
            text-align: center;
            cursor: pointer;
            &:hover {
              color: #576e33;
            }
          }
          p {
            font-size: 22px;
            font-weight: 700;
            line-height: 1.3;
            margin-top: 15px;
            color: rgba(0, 0, 0, 0.6);
            padding-right: 15px;
            padding-left: 15px;
          }
          .rate {
            margin-top: 25px;
            padding-right: 15px;
            padding-left: 15px;
            i {
              font-size: 22px;
              @media screen and (max-width: 992px) {
                font-size: 20px;
              }
              color: #fabf26;
              margin-left: 6px;
              margin-right: 6px;
            }
          }
        }
      }
    }
    .tabs {
      padding: 40px 30px;
      .top {
        span {
          font-size: 24px;
          font-weight: 500;
          color: #000;
        }
      }
      .center {
        margin-top: 20px;
        .wrap {
          margin-top: 40px;
          width: 100%;
        }
        &_item {
          margin-top: 20px;
          border-top: 2px solid #eee;
          padding-top: 20px;
          cursor: pointer;
          h5 {
            font-weight: 400;
          }
          .item_content {
            label {
              margin-top: 15px;
            }
            .color_item {
              margin-top: 20px;
              span {
                font-size: 14px;
                margin-top: 5px;
                text-transform: capitalize;
              }
            }
          }
        }
        // div:first-child {
        //   h5 {
        //     margin-bottom: 10px;
        //   }
        // }
        // div:not(:first-child) {
        //   h5 {
        //     margin-top: 15px;
        //     margin-bottom: 20px;
        //     @media screen and (max-width: 992px) and (min-width: 768px) {
        //       margin-top: 0px;
        //     }
        //   }
        //   button {
        //     margin-top: 20px !important;
        //     margin-left: 0px;
        //   }
        // }
      }
      .bottom {
        margin-top: 45px;
      }
      h5 {
        font-weight: 700;
        font-size: 16px;
        color: #000;
        line-height: 1.3;
      }
      span {
        font-weight: 400;
        font-size: 16px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
        line-height: 1.3;
        color: #8e8e8e;
      }
      ul {
        li {
          cursor: pointer;
          font-weight: 400;
          margin-top: 10px;
          font-size: 16px;
          line-height: 1.3;
          border-bottom: 2px solid transparent;
          width: fit-content;
          transition: 0.5s linear;
          &::after {
            content: "";
            display: block;
            width: 0%;
            height: 2px;
            background: #000;
            transition: 0.5s linear;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
      button {
        margin-top: 22px;
      }
      .tag {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
        margin-top: 20px;
        button {
          border: 1px solid #8e8e8e;
          background: transparent;
          margin-top: 0;
          padding: 8px 0px;
          color: #8e8e8e;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.3;
          &:hover {
            border: 1px solid #576e33;
            color: #576e33;
          }
        }
      }
    }
  }
}
