.detail_page {
  padding-top: 100px;
  .banner {
    position: relative;
    height: 500px;
    .content {
      .container.h-100 {
        position: relative;
      }
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      .type {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.3;
        color: #fff;
        background: #b4a461;
        padding: 4px 16px;
        cursor: pointer;
        &:hover {
          color: #000;
          background: #fff;
        }
      }
      .people {
        cursor: pointer;
      }
      h1 {
        font-size: 42px;
        line-height: 1.3;
        font-weight: 700;
        color: #fff;
        @media screen and (max-width: 992px) {
          font-size: 32px;
        }
        margin-top: 15px;
        text-align: center;
        margin-bottom: 15px;
      }
      .tool {
        margin-top: 0px;
        span,
        h6 {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.3;
          padding-left: 10px;
        }
        h6 {
          font-weight: 700;
        }
        i {
          font-size: 3px;
          color: #fff;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
  .content {
    p {
      text-align: justify;
      font-size: 18px;
      @media screen and (max-width: 992px) {
        font-size: 16px;
      }
      font-weight: 400;
      line-height: 1.3;
      color: #6e6d68;
      cursor: text;
    }
    .top {
      margin-top: 20px !important;
    }
    .tag {
      margin-top: 20px;
      button {
        border: 1px solid #8e8e8e;
        background: transparent;
        margin-top: 0;
        width: 114px;
        padding: 8px 0px;
        color: #8e8e8e;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
        &:not(:first-child) {
          margin-left: 20px;
        }
        &:hover {
          border: 1px solid #576e33;
          color: #576e33;
        }
      }
    }
  }
  .bonus {
    border-top: 1px solid #8b8b8b;
    margin-top: 30px;
    padding-top: 20px;
    .right {
      @media screen and (max-width: 576px) {
        margin-left: 5px;
      }
      i {
        font-size: 18px;
        color: #6e6d68;
        cursor: pointer;
        border: 1px solid #f8f8f4;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        display: flex;
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
        justify-content: center;
        align-items: center;
        transition: 0.5s linear;
        &:hover {
          transform: translateY(-10px);
        }
        &:first-child {
          margin-right: 5px;
          &:hover {
            color: #3b5998;
          }
        }
        &:last-child {
          margin-left: 5px;
          &:hover {
            color: #00ffff;
          }
        }
        &:nth-child(2) {
          &:hover {
            color: #c862dc;
          }
        }
        &:nth-child(3) {
          &:hover {
            color: #ea4c89;
          }
        }
        &:not(:first-child),
        &:not(:last-child) {
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }
    i {
      cursor: pointer;
      font-size: 18px;
      width: 45px;
      height: 45px;
      &:hover {
        transform: translateY(-10px);
        color: pink;
      }
      border: 1px solid #f8f8f4;
      box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      border-radius: 100%;
    }
  }
  .comment {
    margin-top: 30px;
    background: #f8f8f4;
    padding: 30px;
    .content {
      padding-left: 10px;
    }
    h5 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.3;
      color: #515150;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }
      &:hover {
        color: #576e33;
      }
    }
    span {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3;
      color: #6e6d68;
    }
    p {
      margin-top: 10px;
      font-size: 20px;
      font-size: 18px;
      @media screen and (max-width: 992px) {
        font-size: 16px;
      }
    }
    .social {
      margin-top: 15px;
      i {
        font-size: 16px;
        color: #6e6d68;
        margin-right: 20px;
        cursor: pointer;
        &:hover {
          color: #576e33;
        }
      }
    }
  }
  .add_comment {
    margin-top: 10px;
    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 15px;
    }
    button {
      margin-top: 20px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
  .news {
    padding-top: 40px;
    margin-bottom: 40px;
    .list {
      margin-top: 30px;
      .item {
        &:nth-child(1) {
          padding-right: 10px;
          @media screen and (max-width: 576px) {
            padding-right: 0px;
          }
        }
        &:nth-child(2) {
          padding-right: 10px;
          padding-left: 10px;
          @media screen and (max-width: 992px) {
            padding-right: 0px;
          }
          @media screen and (max-width: 576px) {
            padding-right: 0px;
            padding-left: 0px;
            margin-top: 30px;
          }
        }
        &:nth-child(3) {
          padding-left: 10px;
          @media screen and (max-width: 992px) {
            padding-left: 0px;
            padding-right: 20px;
            margin-top: 30px;
          }
          @media screen and (max-width: 576px) {
            padding-left: 0px;
            margin-top: 30px;
          }
        }
        .info {
          .image {
            position: relative;
            cursor: pointer;
            height: 240px;
            width: 100%;
            img {
              object-fit: cover;
            }
          }
          h5 {
            font-size: 24px;
            font-weight: 700;
            @media screen and (max-width: 992px) {
              font-size: 22px;
            }
            line-height: 1.3;
            color: #000;
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover {
              color: #576e33;
            }
          }
          span {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
            color: rgba(0, 0, 0, 0.7);
          }
          p {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.3;
            margin-top: 15px;
            @media screen and (max-width: 992px) {
              font-size: 16px;
            }
            color: rgba(0, 0, 0, 0.3);
            text-align: justify;
          }
        }
      }
    }
    button {
      margin-top: 30px;
    }
  }
}
