.header {
  background-color: rgba(11, 43, 32, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  .logo {
    position: relative;
    width: 94px;
    height: 84px;
  }
  .navToggle {
    color: #fff;
    border: 1px solid;
    &:focus {
      box-shadow: none;
      color: #f8ab0c;
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: #f8ab0c;
    }
  }
  .box_search {
    padding-top: 10px;
    input {
      font-size: 14px;
      font-weight: 400;
      border-radius: 0px;
      border: 1px solid #000;
      border-right: none;
      padding: 6px 15px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
    button {
      background: transparent;
      border: 1px solid #000;
      padding: 6px 10px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:hover {
        background-color: #f8ab0c;
        border: 1px solid #000;
        color: #fff;
      }
    }
  }
}
