.about_page {
  padding-top: 150px;
  .membership {
    margin-top: 100px;
    .left {
      position: relative;
      .header {
        position: relative;
        top: 0;
        right: 0px;
        z-index: 1003;
        transform: translateY(-40%);
        @media screen and (max-width: 992px) {
          transform: translateY(-60%);
        }
        h2 {
          font-size: 90px;
          @media screen and (max-width: 992px) {
            font-size: 70px;
          }
          font-weight: 700;
          z-index: 1003;
          line-height: 1.3;
          color: #b4a461;
        }
        span {
          font-size: 25px;
          font-weight: 700;
          z-index: 1003;
          @media screen and (max-width: 992px) {
            font-size: 22px;
          }
          color: #b4a461;
        }
      }
      .image1 {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1000;
        @media screen and (max-width: 1150.98px) {
          img {
            max-width: 600px !important;
            max-height: 450px !important;
          }
        }
        @media screen and (max-width: 992px) {
          img {
            max-width: 600px !important;
            max-height: 400px !important;
          }
        }
        @media screen and (max-width: 768px) {
          img {
            max-width: 1500px !important;
            max-height: 800px !important;
          }
        }
        @media screen and (max-width: 576px) {
          img {
            max-width: 1500px !important;
            max-height: 400px !important;
          }
        }
        @media screen and (max-width: 376px) {
          img {
            max-width: 1500px !important;
            max-height: 300px !important;
          }
        }
      }
      .image2 {
        position: relative;
        z-index: 1002;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        transform: translateY(120px);
        @media screen and (max-width: 1150.98px) {
          img {
            max-width: 300px !important;
            max-height: 280px !important;
          }
        }
        @media screen and (max-width: 992px) {
          img {
            max-width: 300px !important;
            max-height: 250px !important;
          }
        }
        @media screen and (max-width: 768px) {
          transform: translateY(180px);
          img {
            max-width: 400px !important;
            max-height: 450px !important;
          }
        }
        @media screen and (max-width: 576px) {
          transform: translateY(50px);
          img {
            max-width: 400px !important;
            max-height: 300px !important;
          }
        }
        @media screen and (max-width: 376px) {
          img {
            max-width: 1500px !important;
            max-height: 180px !important;
          }
        }
      }
    }
    .right {
      padding-left: 142px;
      @media screen and (max-width: 1250px) {
        padding-left: 60px;
      }
      @media screen and (max-width: 992px) {
        padding-left: 40px;
      }
      @media screen and (max-width: 768px) {
        padding-left: 0px;
        margin-top: 250px;
      }
      @media screen and (max-width: 576px) {
        padding-left: 0px;
        margin-top: 100px;
      }
      span {
        font-size: 20px;
        font-weight: 700;
        color: #b4a461;
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
      }
      h3 {
        font-size: 57px;
        font-weight: 700;
        margin-top: 24px;
        line-height: 1.3;
        color: #000;
        @media screen and (max-width: 992px) {
          font-size: 45px;
        }
        @media screen and (max-width: 576px) {
          font-size: 36px;
        }
      }
      p {
        font-size: 20px;
        font-weight: 400;
        margin-top: 20px;
        line-height: 1.3;
        color: #6e6d68;
        text-align: justify;
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
        span {
          margin-top: 15px !important;
          color: #6e6d68;
          margin-top: 15px;
          line-height: 1.3;
        }
      }
      button {
        background: #00b577;
        border: 2px solid #00b577;
        color: #fff;
        font-size: 20px;
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
        font-weight: 700;
        padding: 10px 40px;
        margin-top: 45px;
        &:hover {
          background: transparent;
          color: #00b577;
        }
      }
    }
  }
  .vision {
    margin-bottom: 100px;
    margin-top: 300px;
    position: relative;
    .info {
      position: absolute;
      top: 0;
      transform: translateY(50%);
      left: 0;
      width: 600px;
      @media screen and (max-width: 992px) {
        width: 550px;
      }
      @media screen and (max-width: 768px) {
        width: 450px;
        bottom: 50%;
        transform: translateY(50%);
      }
      @media screen and (max-width: 576px) {
        width: 90%;
      }
      height: auto;
      z-index: 1;
      background: #f8f8f4;
      box-shadow: 0px 4px 11px 10px rgba(0, 0, 0, 0.05);
      padding: 40px 40px 60px;
      .navigation {
        span {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .see_more {
        margin-top: 30px;
        button {
          background: transparent;
          border: none;
          font-size: 16px;
          font-weight: 500;
          color: #000;
          i {
            margin-left: 10px;
          }
        }
      }
    }
    .detail {
      h5 {
        font-size: 57px;
        font-weight: 700;
        line-height: 1.3;
        color: #000;
        @media screen and (max-width: 992px) {
          font-size: 45px;
        }
        @media screen and (max-width: 768px) {
          position: absolute;
          z-index: 1003;
          transform: translateY(-50px);
        }
        @media screen and (max-width: 576px) {
          font-size: 36px;
          transform: translateY(-100px);
        }
      }
      .image {
        position: relative;
        height: 900px;
      }
    }
  }
  .welcome {
    margin-bottom: 100px;
    margin-top: 300px;
    position: relative;
    .info {
      position: absolute;
      top: 0;
      transform: translateY(50%);
      right: 0;
      width: 600px;
      @media screen and (max-width: 992px) {
        width: 550px;
      }
      @media screen and (max-width: 768px) {
        width: 450px;
        bottom: 50%;
        transform: translateY(50%);
      }
      @media screen and (max-width: 576px) {
        width: 90%;
      }
      height: auto;
      z-index: 1;
      background: #f8f8f4;
      box-shadow: 0px 4px 11px 10px rgba(0, 0, 0, 0.05);
      padding: 40px;
      .navigation {
        span {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .see_more {
        margin-top: 30px;
        button {
          background: transparent;
          border: none;
          font-size: 16px;
          font-weight: 500;
          color: #000;
          i {
            margin-left: 10px;
          }
        }
      }
    }
    .detail {
      h5 {
        font-size: 57px;
        font-weight: 700;
        line-height: 1.3;
        text-align: right;
        color: #000;
        @media screen and (max-width: 992px) {
          font-size: 45px;
        }
        @media screen and (max-width: 768px) {
          position: absolute;
          z-index: 1003;
          transform: translateY(-50px);
        }
        @media screen and (max-width: 576px) {
          font-size: 36px;
          transform: translateY(-100px);
        }
      }
      .image {
        position: relative;
        height: 900px;
      }
    }
  }
  // .welcome {
  //   margin-bottom: 100px;
  //   padding-top: 200px;
  //   position: relative;
  //   z-index: 1000;
  //   @media screen and (max-width: 576px) {
  //     padding-top: 50px;
  //   }
  // }
  .news {
    margin-bottom: 130px;
    .contain {
      margin-top: 80px;
    }
    @media screen and (max-width: 576px) {
      h3 {
        font-size: 24px !important;
        margin-top: 20px !important;
      }
      span {
        font-size: 16px !important;
      }
      p {
        font-size: 16px !important;
      }
    }
    .info {
      &_left {
        padding-right: 10px;
        @media screen and (max-width: 992px) {
          padding-right: 0px;
        }
        .image {
          position: relative;
          height: 332px;
          width: 100%;
          cursor: pointer;
          @media screen and (max-width: 992px) {
            height: 130px;
          }
        }
        @media screen and (max-width: 992px) {
          .wrap {
            padding-right: 10px !important;
          }
          .content {
            padding-left: 10px;
          }
          .content {
            h3 {
              font-size: 16px;
              font-weight: 700;
              line-height: 1.3;
              color: #000;
              margin-top: 0px;
              margin-bottom: 5px;
              cursor: pointer;
              &:hover {
                color: #00b577;
              }
            }
            span {
              font-weight: 500;
              font-size: 14px;
              line-height: 1.3;
              color: #c4c4c4;
            }
            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 1.3;
              text-align: justify;
              margin-top: 12px;
            }
          }
        }
        @media screen and (max-width: 576px) {
          .wrap {
            padding-right: 0px !important;
          }
          .content {
            padding-left: 0px;
          }
          h3 {
            margin-top: 20px !important;
          }
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.3;
          color: #000;
          margin-top: 10px;
          margin-bottom: 5px;
          cursor: pointer;
          &:hover {
            color: #00b577;
          }
        }
        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 1.3;
          color: #c4c4c4;
        }
        p {
          font-weight: 400;
          font-size: 22px;
          line-height: 1.3;
          text-align: justify;
          margin-top: 12px;
        }
      }
    }
    .right {
      padding-left: 10px;
      @media screen and (max-width: 992px) {
        padding-left: 0px;
      }
      .item {
        &:not(:first-child) {
          margin-top: 50px;
        }
        @media screen and (max-width: 992px) {
          &:first-child {
            margin-top: 50px;
          }
        }
        .wrapp {
          padding-right: 10px !important;
          @media screen and (max-width: 576px) {
            padding-right: 0px !important;
          }
        }
        .content {
          padding-left: 10px;
          @media screen and (max-width: 576px) {
            padding-left: 0px;
          }
        }
        .image {
          position: relative;
          height: 130px;
          cursor: pointer;
        }
        h3 {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.3;
          color: #000;
          margin-bottom: 5px;
          cursor: pointer;
          &:hover {
            color: #00b577;
          }
        }
        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.3;
          color: #c4c4c4;
        }
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 1.3;
          text-align: justify;
          margin-top: 12px;
        }
      }
    }
  }
}
