.about_page {
  padding-top: 150px;
  .membership {
    // margin-top: 100px;
    .left {
      position: relative;
      .image1 {
        @media screen and (max-width: 1336px) {
          width: 80% !important;
        }
        @media screen and (max-width: 992px) {
          width: 90% !important;
        }
        @media screen and (max-width: 768px) {
          span {
            width: 100% !important;
          }
        }
        @media screen and (max-width: 576px) {
          width: 90% !important;
        }
        @media screen and (max-width: 376px) {
          width: 95% !important;
        }
      }
      .image2 {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 1002;
        transform: translateY(50%);
        @media screen and (max-width: 1336px) {
          width: 60% !important;
        }
        @media screen and (max-width: 768px) {
          span {
            width: 100% !important;
          }
        }
      }
    }
    .right {
      padding-left: 142px;
      @media screen and (max-width: 1250px) {
        padding-left: 60px;
      }
      @media screen and (max-width: 992px) {
        padding-left: 40px;
      }
      @media screen and (max-width: 768px) {
        padding-left: 0px;
        margin-top: 220px;
      }
      @media screen and (max-width: 480px) {
        padding-left: 0px;
        margin-top: 180px;
      }
      span {
        font-size: 20px;
        font-weight: 700;
        color: #b4a461;
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
      }
      h3 {
        font-size: 45px;
        font-weight: 700;
        margin-top: 15px;
        line-height: 1.3;
        color: #000;
        @media screen and (max-width: 992px) {
          font-size: 36px;
        }
      }
      p {
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
        line-height: 1.3;
        color: #6e6d68;
        text-align: justify;
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
        span {
          margin-top: 15px !important;
          color: #6e6d68;
          margin-top: 15px;
          line-height: 1.3;
        }
      }
      button {
        background: #00b577;
        border: 2px solid #00b577;
        color: #fff;
        font-size: 20px;
        @media screen and (max-width: 992px) {
          font-size: 16px;
        }
        font-weight: 700;
        padding: 10px 40px;
        margin-top: 30px;
        &:hover {
          background: transparent;
          color: #00b577;
        }
      }
    }
  }
  .vision {
    margin-bottom: 0px;
    position: relative;
    .info {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      left: 0;
      width: 600px;
      @media screen and (max-width: 992px) {
        width: 550px;
      }
      @media screen and (max-width: 768px) {
        width: 90%;
        transform: translateY(calc(50% + 40px));
      }
      @media screen and (max-width: 576px) {
        width: 90%;
      }
      @media screen and (max-width: 480px) {
        width: 95%;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
      }
      height: auto;
      z-index: 1;
      background: #f8f8f4;
      box-shadow: 0px 4px 11px 10px rgba(0, 0, 0, 0.05);
      padding: 25px 35px;
    }
    .mobile {
      font-size: 45px;
      font-weight: 700;
      display: none;
      flex-direction: column;
      line-height: 1.3;
      color: #000;
      @media screen and (max-width: 992px) {
        font-size: 36px;
      }
      @media screen and (max-width: 768px) {
        z-index: 1003;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        span {
          &:nth-child(2) {
            margin-left: 15px;
          }
        }
      }
      @media screen and (max-width: 576px) {
        font-size: 36px;
      }
      @media screen and (max-width: 376px) {
        flex-direction: column;
        text-align: left;
        span {
          margin: 0px !important;
        }
      }
    }
    .detail {
      h5 {
        font-size: 45px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        color: #000;
        @media screen and (max-width: 992px) {
          font-size: 36px;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .image {
        position: relative;
        height: 900px;
        @media screen and (max-width: 768px) {
          width: 90%;
          margin-left: auto;
          span {
            width: 100% !important;
          }
        }
        @media screen and (max-width: 480px) {
          width: 100%;
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
  .welcome {
    margin-bottom: 250px;
    margin-top: 80px;
    position: relative;
    margin-bottom: 40px;
    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 30px;
    }
    @media screen and (max-width: 480px) {
      margin-top: 30px;
    }
    .info {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      right: 0;
      width: 530px;
      @media screen and (max-width: 992px) {
        width: 550px;
      }
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      @media screen and (max-width: 480px) {
        width: 95%;
        // height: 80%;
        right: 50%;
        transform: translateY(50%) translateX(50%);
      }
      height: auto;
      z-index: 1;
      background: #f8f8f4;
      box-shadow: 0px 4px 11px 10px rgba(0, 0, 0, 0.05);
      padding: 25px 40px 40px;
      .navigation {
        span {
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
    .mobile {
      font-size: 45px;
      font-weight: 700;
      display: none;
      flex-direction: column;
      line-height: 1.3;
      color: #000;
      @media screen and (max-width: 992px) {
        font-size: 36px;
      }
      @media screen and (max-width: 768px) {
        z-index: 1003;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        span {
          &:nth-child(2) {
            margin-left: 15px;
          }
        }
      }
      @media screen and (max-width: 576px) {
        font-size: 36px;
      }
      @media screen and (max-width: 376px) {
        flex-direction: column;
        text-align: left;
        span {
          margin: 0px !important;
        }
      }
    }
    .detail {
      h5 {
        font-size: 45px;
        font-weight: 700;
        line-height: 1.3;
        text-align: right;
        color: #000;
        @media screen and (max-width: 992px) {
          font-size: 36px;
        }
        @media screen and (max-width: 768px) {
          position: absolute;
          display: none;
          z-index: 1003;
          transform: translateY(-50px);
        }
        @media screen and (max-width: 576px) {
          font-size: 36px;
          transform: translateY(-100px);
        }
      }
      .image {
        position: relative;
        height: 900px;
        @media screen and (max-width: 768px) {
          width: 90%;
          span {
            width: 100% !important;
          }
        }
        @media screen and (max-width: 480px) {
          width: 100%;
          span {
            width: 100% !important;
          }
        }
      }
    }
  }
  // .welcome {
  //   margin-bottom: 100px;
  //   padding-top: 200px;
  //   position: relative;
  //   z-index: 1000;
  //   @media screen and (max-width: 576px) {
  //     padding-top: 50px;
  //   }
  // }
  .news {
    margin-bottom: 130px;
    .contain {
      margin-top: 80px;
    }
    @media screen and (max-width: 576px) {
      h3 {
        font-size: 24px !important;
        margin-top: 20px !important;
      }
      span {
        font-size: 16px !important;
      }
      p {
        font-size: 16px !important;
      }
    }
    .info {
      &_left {
        padding-right: 10px;
        @media screen and (max-width: 992px) {
          padding-right: 0px;
        }
        .image {
          position: relative;
          height: 332px;
          width: 100%;
          cursor: pointer;
          @media screen and (max-width: 992px) {
            height: 130px;
          }
          @media screen and (max-width: 576px) {
            height: 332px;
          }
        }
        @media screen and (max-width: 992px) {
          .wrap {
            padding-right: 10px !important;
          }
          .content {
            padding-left: 10px;
          }
          .content {
            h3 {
              font-size: 16px;
              font-weight: 700;
              line-height: 1.3;
              color: #000;
              margin-top: 0px;
              margin-bottom: 5px;
              cursor: pointer;
              &:hover {
                color: #00b577;
              }
            }
            span {
              font-weight: 500;
              font-size: 14px;
              line-height: 1.3;
              color: #c4c4c4;
            }
            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 1.3;
              text-align: justify;
              margin-top: 12px;
            }
          }
        }
        @media screen and (max-width: 576px) {
          .wrap {
            padding-right: 0px !important;
          }
          .content {
            padding-left: 0px;
          }
          h3 {
            margin-top: 20px !important;
          }
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.3;
          color: #000;
          margin-top: 10px;
          margin-bottom: 5px;
          cursor: pointer;
          &:hover {
            color: #00b577;
          }
        }
        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 1.3;
          color: #c4c4c4;
        }
        p {
          font-weight: 400;
          font-size: 22px;
          line-height: 1.3;
          text-align: justify;
          margin-top: 12px;
        }
      }
    }
    .right {
      padding-left: 10px;
      @media screen and (max-width: 992px) {
        padding-left: 0px;
      }
      .item {
        &:not(:first-child) {
          margin-top: 50px;
        }
        @media screen and (max-width: 992px) {
          &:first-child {
            margin-top: 50px;
          }
        }
        .wrapp {
          padding-right: 10px !important;
          @media screen and (max-width: 576px) {
            padding-right: 0px !important;
          }
        }
        .content {
          padding-left: 10px;
          @media screen and (max-width: 576px) {
            padding-left: 0px;
          }
        }
        .image {
          position: relative;
          height: 130px;
          cursor: pointer;
          @media screen and (max-width: 576px) {
            height: 332px;
          }
        }
        h3 {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.3;
          color: #000;
          margin-bottom: 5px;
          cursor: pointer;
          &:hover {
            color: #00b577;
          }
        }
        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.3;
          color: #c4c4c4;
        }
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 1.3;
          text-align: justify;
          margin-top: 12px;
        }
      }
    }
  }
}
