@font-face {
  font-family: "Product";
  src: url("/font/product-sans/Product\ Sans\ Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Product";
  src: url("/font/product-sans/Product\ Sans\ Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Product";
  src: url("/font/product-sans/Product\ Sans\ Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Product";
  src: url("/font/product-sans/Product\ Sans\ Bold\ Italic.ttf");
  font-weight: bold;
  font-style: italic;
}
:root {
  --breadcrumb-theme-1: #e91e63;
  --breadcrumb-theme-2: #fff;
  --breadcrumb-theme-3: #d80d52;
  --breadcrumb-theme-4: #c70041;
}
@import "scss/reset";
@import "scss/footer";
@import "scss/navbar";
@import "scss/navbarMobile";
@import "scss/home";
@import "scss/about";
@import "scss/training";
@import "scss/modal";
@import "scss/modalTrainer";
@import "scss/proshopDetail";
@import "scss/proshop";
@import "scss/custom";
@import "scss/bookingList";
@import "scss/bookingPage";
@import "scss/contact";
@import "scss/customRsStep";
@import "scss/customForm";
@import "scss/spa";
@import "scss/calendarBooking";
@import "scss/customAlert";
@import "scss/cart";
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
.wrapper-project {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto !important;
  position: relative;
  overflow-x: hidden;
  // overflow-y: auto;
  // height: 100vh;
  // scroll-snap-type: y mandatory;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: center;
}
.input-position {
  position: relative;
  width: 100%;
  input {
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    padding-left: 50px !important;
    color: rgba(0, 0, 0, 0.4);
    border: 2px solid #c7c7c7;
    font-size: 16px;
    font-weight: 400;
    &::-webkit-input-placeholder {
      color: #c7c7c7;
    }
    &::-moz-input-placeholder {
      color: #c7c7c7;
    }
  }
  .icon {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #c7c7c7;
    i {
      font-size: 18px;
    }
  }
}

.container {
  padding-left: 50px !important;
  padding-right: 50px !important;
  @media screen and (min-width: 1520px) {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  @media screen and (min-width: 1800px) {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
  @media screen and (min-width: 1920px) {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
  max-width: 100% !important;
  @media screen and (max-width: 992px) {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  @media screen and (max-width: 768px) {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  @media screen and (max-width: 576px) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
.btn-scroll {
  position: fixed;
  bottom: 55px;
  right: 55px;
  background-color: #3a3838;
  color: #fff;
  font-size: 16px;
  width: 45px;
  height: 45px;
  z-index: 2001;
  transition: 0.5s linear;
  &:hover {
    background: #576e33;
    border-color: #576e33;
  }
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    color: #b4a461;
    @media screen and (max-width: 992px) {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    color: #000;
    text-transform: inherit;
    @media screen and (max-width: 992px) {
      font-size: 36px;
    }
    @media screen and (max-width: 576px) {
      font-size: 36px;
    }
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #6e6d68;
    text-align: justify;
  }
  ul {
    list-style: disc;
    padding-left: 20px !important;
    width: 434px;
    margin-top: 10px !important;
    li {
      font-size: 20px;
      @media screen and (max-width: 992px) {
        font-size: 16px;
      }
      font-weight: 400;
      line-height: 1.3;
      color: #6e6d68;
      margin-top: 10px;
    }
  }
}
.button {
  display: flex;
  justify-content: center;
  width: 100%;
  button {
    margin-top: 20px;
    @media screen and (max-width: 768px) {
      width: 50% !important;
    }
    @media screen and (max-width: 576px) {
      width: 100% !important;
    }
    background: #576e33;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 8px 40px;
    border-radius: 8px;
    border: 2px solid #576e33;
    transition: all 0.5s linear;
    .rs-loader-wrapper {
      margin-top: 0px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      .rs-loader .rs-loader-spin,
      .rs-loader .rs-loader-spin::before,
      .rs-loader .rs-loader-spin::after {
        width: 22px;
        height: 22px;
      }
    }
    .rs-loader-content {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3;
      color: #fff !important;
    }
    .rs-loader-wrapper {
      margin-top: 0px !important;
    }
    &:hover {
      background: transparent;
      color: #576e33;
      .rs-loader-content {
        background: transparent;
        color: #576e33 !important;
      }
    }
  }
}

.btn-down {
  background-color: transparent;
  border: none !important;
  font-size: 22px;
  &:hover {
    color: #576e33;
  }
}

.ft1,
.ft2 {
  @media screen and (max-width: 1080px) {
    width: 100% !important;
  }
}
.ft2 {
  @media screen and (max-width: 365px) {
    .col-4 {
      width: 100% !important;
    }
  }
}
