.proshop_detail {
  .btn_next {
    position: absolute;
    bottom: -85px;
    right: 0;
    z-index: 20;
    border: none;
    background-color: transparent;
    i {
      font-size: 30px;
    }
  }
  .btn_prev {
    position: absolute;
    bottom: -85px;
    left: 0;
    z-index: 20;
    border: none;
    background-color: transparent;
    i {
      font-size: 30px;
    }
  }
  .image {
    position: relative;
    height: 400px;
    img {
      padding-right: 10px !important;
    }
  }
  .info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      h4 {
        font-size: 20px;
        font-weight: 700;
      }
      .rating {
        margin-top: 20px;
        margin-bottom: 20px;
        i {
          color: #fdd05e;
        }
      }
      .category {
        font-size: 16px;
        color: #808080;
        strong {
          color: #000;
        }
      }
    }
    .tool {
      margin-bottom: 50px;
      .box_quantity {
        border: 2px solid #808080;
        width: fit-content;
        border-radius: 30px;
        padding: 10px;
        margin-bottom: 52px;
        button {
          border: none;
          background-color: transparent;
          font-size: 18px;
          font-weight: 500;
          color: #bcbcbc;
          &:first-child {
            padding-right: 25px;
          }
          &:last-child {
            padding-left: 25px;
          }
        }
        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .btn_cart {
        color: #fff;
        background: #0b2b20;
        border: 2px solid #0b2b20;
        font-size: 14px;
        text-transform: uppercase;
        padding: 6px 25px;
        font-weight: 600;
        &:hover {
          background: transparent;
          color: #0b2b20;
        }
      }
    }
  }
  .Tabs {
    margin-top: 200px;
    p {
      font-size: 16px;
      line-height: 1.8;
      text-align: justify;
    }
  }
}
